<p>This system is not yet totally functional. Please talk to the DANM Technical Staff if the following is not true.</p>
<div id="youHave">
	<h1>You Currently Have</h1>
	<ul>
	<%= render :partial => 'have' , :collection => current_person.active_transfers  %>	
	</ul>
</div>


