.DS_Store
log/*.log
tmp/**/*
config/database.yml
config/ldap.yml
db/*.sqlite3
db/from_filemaker/*
vendor/plugins/*
public/images/equipment/*
lib/active_ldap/*
lib/active_ldap.rb
vendor/gems/*
vendor/*
