<% if @items.empty? %>
  '<%=h @phrase %>' not found!
<% else %>
<tr><td colspan="4" align="center">'<%=h @phrase %>' found <%= pluralize(@items.length,'item')%>.</td></tr>

<%= render :partial => 'item', :collection => @items, :locals => {:show_children=>false} %>

<% end %>