
<table>
<%= render :partial => 'item', :collection => @equipment, :locals => {:show_children=>true} %>
</table>

<!--%= render :partial => 'search_for_equipment',:locals => {:equipment => @equipment} %-->



