body {
	padding:0px;
	margin:0px;
	font-family: Verdana, Arial, Helvetica;
}
h1, h2, h3, h4, h5, h6 {
	color: #996600;
	margin:0px;
	padding: 0px;
}
#content {
	position:absolute;
	top:5em;
	padding:0px 20px;
}
a {
	color: #996600;
}
#feedback {
	background-color: pink;
	padding: 10px;
	text-align:center;
}
#headder {
	position:block;
	background-color: #666666;
	border-bottom: 1px solid #996600;
	height:2.5em;
	padding:5px 5px 0px 0px;
}
#headder a {
	color:white;
}
#headder .user {
	text-align:right;
	float:right;
	color:white;
	font-size: 10pt;
	letter-spacing: .1em;
	font-weight: normal;
}
#left {
	width:400px;
}
#right {
	margin-left:400px;
}
#youHave {
	width:100%;
}
#youHave ul {
	margin:0px;
	padding:0px;
	display:block;
	/*
	background-color: #999999;
	border: 1px solid #996600;
	*/
	padding:15px 7px;
	float:left;
}
#youHave li {
	list-style:none;
	margin:0px 4px;
	float:left;
	width:180px;
	xheight:180px;
	display:block;
	
	border: 1px solid #996600;
	/*background-color:#AAAAAA;*/
}
#youHave .confirmed span {
	display:none;
}


.mainBlock {
	display:block;
	width:600px;
	margin:auto;
	border: 1px solid #999;
	position:relative;
	padding: 40px;
}