<%= error_messages_for 'person' %>

<!--[form:person]-->
<!--
<p><label for="person_ldap_uid">Ldap uid</label><br/>
<%= text_field 'person', 'ldap_uid'  %></p>
-->
<p><label for="person_email">Email</label><br/>
<%= text_field 'person', 'email'  %></p>

<p><label for="person_name">Name</label><br/>
<%= text_field 'person', 'name'  %></p>

<!--[eoform:person]-->

